<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{blocks/standart-sample :: head}"></head>
<body>

<header th:replace="~{blocks/standart-sample :: header}"></header>
<nav th:replace="~{blocks/standart-sample :: nav}"></nav>


<div class="content">
    <div class="form-group">
        <label for="columnSelector">Filter Input:</label>
        <a href="/client/loansyj/export">export to exel.</a>
        <select class="form-control" id="columnSelector">
            <option selected value="Name">Name</option>
            <option value="interestRate">InterestRate</option>
            <option value="tern">Tern</option>
        </select>
    </div>

    <table class="table table-striped" id="search-result-table">
        <thead>
        <tr>
            <th><input class="form-control" id="filterInputName" placeholder="filterName" type="text"/></th>
            <th><input class="form-control" id="filterInputRate" placeholder="filterRate" type="text"/></th>
            <th><input class="form-control" id="filterInputTern" placeholder="filterTern" type="text"/></th>
            <th></th>
        </tr>
        <tr>
            <th>Name load</th>
            <th>Interest rate<br>(in thousands $)</th>
            <th>Tern (months)</th>
            <th>Info</th>
        </tr>
        </thead>
        <tbody>
        <tr id="tableBody" th:each="loan : ${loans}">
            <td th:text="${loan.name}"></td>
            <td th:text="${loan.interestRate}"></td>
            <td th:text="${loan.term}"></td>
            <td><a th:href="@{'/client/loan/'+${loan.id}}">go to the info...</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
