<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{blocks/standart-sample :: head}"></head>
<body>

<header th:replace="~{blocks/standart-sample :: header}"></header>
<nav th:replace="~{blocks/standart-sample :: nav}"></nav>


<div class="content">

    <th:block class="errorMessage" th:if="${errorMessage}">
        <div class="alert alert-danger" role="alert">
            <legend>ERROR:</legend>
            <p th:text="${errorMessage}"></p>
        </div>
    </th:block>

    <th:block class="continueMessage" th:if="${successMessage}">
        <div class="alert" role="alert">
            <legend>Success:</legend>
            <p th:text="${successMessage}"></p>
        </div>
    </th:block>

    <div class="form-group">
        <label for="columnSelector">Filter Input:</label>
        <a href="/client/loans/export">export to exel.</a>

        <select class="form-control" id="columnSelector">
            <option selected value="name">Name</option>
            <option value="description">description</option>
            <option value="durationInMonths">durationInMonths</option>
            <option value="interestRate">InterestRate</option>
            <option value="amount">Amount</option>
        </select>
    </div>

    <table class="table table-striped" id="search-result-table">
        <thead>
        <tr>
            <th><input class="form-control" id="filterInputName" placeholder="Filter name" type="text"/></th>
            <th><input class="form-control" id="filterInputDescription" placeholder="Filter description" type="text"/></th>
            <th><input class="form-control" id="filterInputDuration" placeholder="Filter duration (in month)" type="text" pattern="^\d+$"/></th>
            <th><input class="form-control" id="filterInputInterestRate" placeholder="Filter interest rate" type="text" pattern="^\d+(\.\d+)?$"/></th>
            <th><input class="form-control" id="filterInputAmount" placeholder="Filter amount" type="text" pattern="^\d+$"/></th>
            <th></th>
        </tr>
        <tr>
            <th>Name load</th>
            <th>Description</th>
            <th>Duration<br>(months)</th>
            <th>Interest rate<br>(in percentages)</th>
            <th>Amount</th>
            <th>Take credit</th>
        </tr>
        </thead>
        <tbody>
        <tr id="tableBody" th:each="loan : ${loans}">
            <td th:text="${loan.name}"></td>
            <td th:text="${loan.description}"></td>
            <td th:text="${loan.durationInMonths}+' months'"></td>
            <td th:text="${loan.interestRate} +'%'"></td>
            <td th:text="${loan.getAmount} + '$'"></td>
            <td>
                <form th:action="@{'/client/loans/take-credit'}" method="post">
                    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                    <input type="hidden" name="loanId" th:value="${loan.id}" />
                    <button type="submit" class="btn btn-secondary">Take a loan</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/scripts/lib/jquery-3.7.1.js}" defer="defer"></script>
<script defer="defer" th:src="@{/scripts/security-request.js}"></script>
<script defer="defer" th:src="@{/scripts/utils/table-util.js}"></script>
<script defer="defer" th:src="@{/scripts/tables/loans.js}"></script>

</body>
</html>
