<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label>filter Input:
    <select id="columnSelector">
        <option selected value="fullName">Full Name</option>
        <option value="email">Email</option>
        <option value="age">Age</option>
    </select>
    <input id="filterInput" type="text"/>
</label>

<table id="search-result-table">
    <thead>
    <tr>
        <th>Name load</th>
        <th>Description</th>
        <th>Interest rate<br>(in thousands $)</th>
        <th>Tern (months)</th>
    </tr>
    </thead>
    <tbody>
    <tr id="tableBody" th:each="loan : ${loans}">
        <td th:text="${loan.name}"></td>
        <td th:text="${loan.description}"></td>
        <td th:text="${loan.interestRate}"></td>
        <td th:text="${loan.loanTerm}"></td>
        <tb>
            <form method="post" action="/client/loan/">
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                <input type="hidden" name="id" th:value="${loan.id}"/>
                <input type="submit" value="accept"/>
            </form>
        </tb>

    </tr>
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.7.1.js" defer="defer"></script>
</body>
</html>