<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{blocks/standart-sample :: head}"></head>
<body>


<header th:replace="~{blocks/standart-sample :: header}"></header>
<nav th:replace="~{blocks/standart-sample :: nav}"></nav>

<div class="content">
    <div class="context-info">
        <h2>Creditors</h2>
    </div>

    <label>filter Input:
        <select id="columnSelector">
            <option selected value="fullName">Full Name</option>
            <option value="email">Email</option>
            <option value="age">Age</option>
        </select>
        <input id="filterInput" type="text"/>
    </label>

    <table id="search-result-table">
        <thead>
        <tr>
            <th>Full name</th>
            <th>Email</th>
            <th>Password photo</th>
            <th>accept</th>
            <th>reject</th>
        </tr>
        </thead>
        <tbody>
        <tr id="tableBody" th:each="client : ${clients}">
            <td th:text="${client.fullName}"></td>
            <td th:text="${client.email}"></td>
            <td><a th:href="@{'/staff/img/passport/' + ${client.id}}">Go to the photo...</a></td>

            <td>
                <form method="post" th:action="@{'/staff/confirmation/accept?id=' + ${client.id}}">
                    <input hidden type="submit" value="accept"/>
                </form>
            </td>
            <td>
                <form method="post" th:action="@{'/staff/confirmation/reject?id=' + ${client.id}}">
                    <input hidden type="submit" value="reject"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/scripts/lib/jquery-3.7.1.js}"></script>
<script th:src="@{/scripts/confirmation-sort.js}"></script>
</body>
</html>