<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{blocks/standart-sample :: head}"></head>
<body>


<header th:replace="~{blocks/standart-sample :: header}"></header>
<nav th:replace="~{blocks/standart-sample :: nav}"></nav>

<div class="content">
    <div class="context-info">
        <h2>Creditors</h2>
    </div>
    <table>
        <thead>
        <tr>
            <th>Full name</th>
            <th>Email</th>
            <th>Password photo</th>
            <th>accept</th>
            <th>reject</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${clients}">
            <td th:text="${client.fullName}"></td>
            <td th:text="${client.email}"></td>
            <td><a th:href="@{'/staff/img/passport/' + ${client.id}}">Go to the photo...</a></td>

            <td>
                <form method="post" th:action="@{'/staff/confirmation/accept?id=' + ${client.id}}">
                    <input hidden type="submit" value="accept"/>
                </form>
            </td>
            <td>
                <form method="post" th:action="@{'/staff/confirmation/reject?id=' + ${client.id}}">
                    <input hidden type="submit" value="reject"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script th:src="@{/script/configuration.js}"></script>
</div>

</body>
</html>