<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{blocks/standart-sample :: head}"></head>
<body>

<header th:replace="~{blocks/standart-sample :: header}"></header>
<nav th:replace="~{blocks/standart-sample :: nav}"></nav>


<div class="content">
    <table class="table table-striped" id="search-result-table">
        <tr>
            <th>Client</th>
            <th>Loan</th>
            <th>Date</th>
            <th>Closed?</th>
            <th>Action close</th>
        </tr>
        <tr th:each="loanRequest : ${loanHistory}">
            <td th:text="${loanRequest.client.fullName}"></td>
            <td th:text="${loanRequest.loan.name}"></td>
            <td th:text="${loanRequest.data}"></td>
            <td th:text="${loanRequest.closed}"></td>
            <td>
                <th:block th:unless="${loanRequest.closed}">
                    <form th:action="@{'/staff/request-history/close'}" method="post">
                        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                        <input type="hidden" name="id" th:value="${loanRequest.id}" />
                        <button type="submit"  class="btn btn-secondary">Close</button>
                    </form>
                </th:block>
            </td>
        </tr>
    </table>
</div>
</body>
</html>