<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--
На страницу попадет только клиент
в модели лежит экземпляр client
-->
<head th:replace="~{blocks/standart-sample :: head}"></head>
<body>

<header th:replace="~{blocks/standart-sample :: header}"></header>
<nav th:replace="~{blocks/standart-sample :: nav}"></nav>


<div class="container">
    <div class="context-info">
        <form method="post" th:action="@{/client/logout}">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <button class="btn btn-primary btn-sm btn-block" type="submit">Sign Out</button>
        </form>
    </div>

    <div class="item">
        <div class="list-group">
            <h5 class="card-title">Client Information</h5>
            <p class="card-text" th:text="'Full name: ' + ${client.fullName}"></p>
            <p class="card-text" th:text="'Email: ' + ${client.email}"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li th:each="item : ${client.clientRequestHistory}" class="list-group-item" th:text="${item.getInfo()}"></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>