<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{blocks/standart-sample :: head}"></head>
<body>


<header th:replace="~{blocks/standart-sample :: header}"></header>
<nav th:replace="~{blocks/standart-sample :: nav}"></nav>

<div class="content">
    <fieldset>
        <legend>Client:</legend>
        <th:block class="errorMessage" th:if="${errorMessage}">
            <fieldset>
                <legend>ERROR:</legend>
                <p th:text="${errorMessage}"></p>
            </fieldset>
        </th:block>

        <form class="generated-form" enctype="multipart/form-data"
              method="POST" th:action="@{/client/login/auth/process}">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <label for="email">Email:</label><br>
            <input id="email" name="username" type="email"><br>
            <label for="password">Password:</label><br>
            <input id="password" name="password" type="password"><br>
            <label for="remember-me">Remember me:
                <input id="remember-me" name="remember-me" type="checkBox"/>
            </label>

            <a th:href="@{/client/login/reg}">registration</a><br>
            <a th:href="@{/staff/login/auth}">auth for staff</a><br>


            <button>authenticate</button>
            <br><br>
        </form>
    </fieldset>
</div>

</body>
</html>