<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{blocks/standart-sample :: head}"></head>
<body>


<header th:replace="~{blocks/standart-sample :: header}"></header>
<nav th:replace="~{blocks/standart-sample :: nav}"></nav>


<div class="content">
    <div class="card">
        <div class="card-header">
            <legend>Client:</legend>
        </div>
        <div class="card-body">
            <form class="generated-form" enctype="multipart/form-data" method="POST"
                  th:action="@{/client/login/reg/process}" th:object="${client}">

                <th:block class="errorMessage" th:if="${errorMessage}">
                    <div class="alert alert-danger" role="alert">
                        <legend>ERROR:</legend>
                        <p th:text="${errorMessage}"></p>
                    </div>
                </th:block>

                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                <div class="form-group">
                    <label for="fullName">Full name:</label>
                    <input autofocus="autofocus" class="form-control" id="fullName" th:field="*{fullName}" type="text">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" id="email" th:field="*{email}" type="email">
                </div>
                <div class="form-group">
                    <label for="passportPhoto">Passport photo:</label>
                    <input class="form-control-file" id="passportPhoto" th:field="*{passportPhoto}" type="file">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="form-control" id="password" th:field="*{password}" type="password">
                </div>
                <div class="form-group">
                    <label for="repeat_password">Repeat password:</label>
                    <input class="form-control" id="repeat_password" th:field="*{repeatPassword}" type="password">
                </div>

                <a class="btn btn-link" th:href="@{/client/login/auth}">Authorization</a>

                <button class="btn btn-primary" type="submit">Registration</button>
                <br>
            </form>
        </div>
    </div>
</div>
</body>
</html>