<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{blocks/standart-sample :: head}"></head>
<body>

<header th:replace="~{blocks/standart-sample :: header}"></header>
<nav th:replace="~{blocks/standart-sample :: nav}"></nav>


<div class="content">
    <th:block class="errorMessage" th:if="${successMessage}">
        <div class="alert" role="alert">
            <legend>Success:</legend>
            <p th:text="${successMessage}"></p>
        </div>
    </th:block>

    <h1>SmartBank - Ваш надежный партнер в мире кредитов</h1>
    <p>Добро пожаловать на официальный сайт банка SmartBank, где мы специализируемся на
        предоставлении качественных и выгодных кредитов. Мы стремимся стать надежным и
        доверенным партнером для всех, кто ищет надежный и удобный способ получить финансовую поддержку.</p>

    <h2>Наши преимущества:</h2>
    <ul class="features">
        <li><strong>Надежность и доверие</strong>: Мы заботимся о наших клиентах и стремимся предоставить
            им наилучший сервис.</li>
        <li><strong>Выгодные условия</strong>: Мы предлагаем выгодные условия для всех, независимо от
            их кредитной истории.</li>
        <li><strong>Быстрое решение</strong>: Мы готовы предоставить быстрый ответ на ваши запросы и
            помочь в решении любых вопросов.</li>
        <li><strong>Удобство</strong>: Наш сервис доступен 24/7, поэтому вы можете получить кредит в любое время.</li>
    </ul>

    <h2>Как это работает:</h2>
    <ol class="steps">
        <li><strong>Оформление заявки</strong>: Заполните онлайн-форму на нашем сайте и предоставьте необходимую
            информацию.</li>
        <li><strong>Проверка кредитной истории</strong>: Наши специалисты проверят вашу кредитную историю,
            чтобы определить, подходит ли вам кредит.</li>
        <li><strong>Одобрение кредита</strong>: Если все условия одобрены, мы выдадим вам кредит.</li>
    </ol>

    <p>Наша цель - сделать процесс получения кредита максимально простым и удобным.
        Мы готовы помочь вам в любое время, в любом месте. Добро пожаловать в SmartBank!</p>

</div>

</body>
</html>