<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{blocks/standart-sample :: head}"></head>
<body>

<header th:replace="~{blocks/standart-sample :: header}"></header>
<nav th:replace="~{blocks/standart-sample :: nav}"></nav>

    <a th:href="@{/logout}">logout</a>
<div class="content">
    <div>


        <p th:text="'Auth username:' + ${email}">


        <a th:href="@{/logout}">/logout</a>
    </div>


</div>
</body>
</html>