<head th:fragment="head" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title th:text="${namePage}"></title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
</head>

<header th:fragment="header">
    <h1>Smart Bank</h1>
</header>

<nav th:fragment="nav" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a th:href="@{/home}">Home</a>

    <div sec:authorize="isAnonymous()">
        <div class="right-nav">
            <a th:href="@{/client/login/auth}">Login</a>
        </div>
    </div>

    <th:block sec:authorize="hasRole('ROLE_STAFF')">
        <a href="/staff/confirmation">Confirmation</a>

        <div class="right-nav">
            <a th:href="@{/profile}" th:text="${#authentication.principal.username}"></a>
        </div>
    </th:block>

    <th:block sec:authorize="hasRole('ROLE_CLIENT')">
        <a href="/client/loans">Credits</a>

        <div class="right-nav">
            <a th:href="@{/profile}" th:text="${#authentication.principal.username}"></a>
        </div>
    </th:block>

    <div class="right-nav">



        <div sec:authorize="isAnonymous()">
            <a th:href="@{/client/login/auth}">Login</a>
        </div>
    </div>
</nav>


