<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${name}"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<header th:fragment="header">
    <h1>Smart Bank</h1>
</header>

<nav th:fragment="nav">
    <a th:href="@{/home}">Home</a>
    <a href="#">Credits</a>
    <div class="right-nav">
    <th:block th:if="${username}">
        <a th:href="@{/profile}" th:text="${username}"></a>
    </th:block>
    <th:block th:unless="${username}">
        <a th:href="@{/login/auth}">Login</a>
    </th:block>
    </div>
</nav>


