<head th:fragment="head" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title th:text="${namePage}"></title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
</head>

<header th:fragment="header">
    <h1>Smart Bank</h1>
</header>

<nav th:fragment="nav" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a th:href="@{/home}">Home</a>
    <a href="#">Credits</a>
    <div class="right-nav">
        <!--<th:block th:if="${#authentication != null}">
            <a th:href="@{/profile}" th:text="${#authentication.principal.username}"></a>
        </th:block>
        <th:block th:unless="${#authentication != null}">
            <a th:href="@{/login/auth}">Login</a>
        </th:block>-->
        <!--<div sec:authorize="isAuthenticated()">
            <a th:href="@{/profile}" th:text="${#authentication.principal.username}"></a>
        </div>-->
        <div sec:authorize="hasRole('ROLE_CLIENT')">
            <a th:href="@{/profile}" th:text="${#authentication.principal.username}"></a>
        </div>
        <div sec:authorize="hasRole('ROLE_STAFF')">
            <a th:href="@{/staff/profile}" th:text="${#authentication.principal.username}"></a>
        </div>

        <div sec:authorize="isAnonymous()">
            <a th:href="@{/client/login/auth}">Login</a>
        </div>
    </div>
</nav>


